body, html {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,p {
  margin-top: 0;
}

header {
  margin: 0;
  height: 196px;
  border: none;
  background-color: #30333A;
  background-image: url(//b.thumbs.redditmedia.com/e5O6mypA9Fzh_-72Po6D2bWo-CqBIiZoy2l1OCTyj9o.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 1;
  box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12), 0 0 4px 0 rgba(0,0,0,.12);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
header .logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

header .logo span {
  color: #fff;
  position: relative;
  left: -40px;
  font-size: 50px;
  font-weight: 700;
  font-family: Lato,arial,sans-serif;
}

header .logo img{
  height: 150px;
}

header nav {
  margin: 12px 0 0;
  display: flex;
  flex: 0 1 42px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 42px;
  border: none;
  position: relative;
}

header nav:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.24);
  height: 42px;
  z-index: 0;
}

header nav a {
  z-index:1;
  margin: 0 16px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-family: Lato,arial,sans-serif;
  color: rgba(255,255,255,0.7);
  line-height: 42px;
  text-decoration: none;
  position: relative;
}

header nav a.active {
  font-weight: 700;
  color: #fff;
}

header nav a:hover {
  color: #fff;
}

header nav a.active:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}

main {
  margin: 45px auto;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #fff;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  font-family: Lato,arial,sans-serif;
}

input[type="text"] {
  padding: 5px;
  margin-right: 15px;
}

.button {
  padding: 2px 18px;
  background-color: #0079d3;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  height: 32px;
  font-size: 12px;
  box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12), 0 0 4px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 500px) {
  header .logo {
    align-items: center;
    justify-content: center;
  }
  header .logo span {
    display: none;
  }
}